<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>See Through Admin</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Users">
    <app-users></app-users>
  </mat-tab>
  <mat-tab label="Reports">
    <app-reports></app-reports>
  </mat-tab>
  <mat-tab label="Login/Logout">
    <app-auth-button></app-auth-button>
  </mat-tab>
  <mat-tab label="User Me">
    <app-user-profile></app-user-profile>
  </mat-tab>
  <mat-tab label="User Metadata">
    <app-metadata></app-metadata>
  </mat-tab>
</mat-tab-group>
