
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }


  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
  }

  .card {
 
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
    line-height: 24px;
  }





  table {
  width: 100%;
}

</style>

<div class="toolbar">

  <span>Welcome to the admin page</span>
    <div class="spacer"></div>
  
</div>


 

  <div class="card-container">
    

  </div>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Users">Content 1</mat-tab>
    <mat-tab label="Questions">
     
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Question Column -->
        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef> Question </th>
          <td mat-cell *matCellDef="let element"> {{element.question}} </td>
        </ng-container>
      
        <!-- Answer Column -->
        <ng-container matColumnDef="answer">
          <th mat-header-cell *matHeaderCellDef> Answer </th>
          <td mat-cell *matCellDef="let element">  <button mat-stroked-button color="primary" (click)="openAnswers(element)">Answers</button> </td>
        </ng-container>
      
        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"> <i class="material-icons">delete</i> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      </mat-tab>
  </mat-tab-group>